indexador/recursos/sign/catalogo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cpf_gerar">
    <xs:complexType>
      <xs:sequence>
        <xs:element  name="hash_fornecedor">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="dnv">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{11}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="flag_dnv_ignorada">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="s|n|S|N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="data_nascimento">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                <xs:pattern value="\d{2}[/]\d{2}[/]\d{4}"></xs:pattern>
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="data_registro">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{2}[/]\d{2}[/]\d{4}"></xs:pattern>
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="sexo">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="m|f|M|F|I|i"></xs:pattern>
                    <xs:maxLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="cod_ibge_cidade_naturalidade">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{7}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="cep">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{8}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="endereco">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="num_end">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="6"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="complemento">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="bairro">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="cod_ibge_cidade_domicilio">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{7}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="num_telefone">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="8"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="num_celular">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="9"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="ddd_celular">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="ddd_telefone">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="matricula">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{32}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="nome_crianca">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="nome_genitora">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="nome_genitor">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="cpf_genitora">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="11"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element  name="cpf_genitor">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="11"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>